.menu {

    display: flex;
    flex-direction: column;
    // margin: 15px;
    justify-content: space-between;
    height: 50%;
    
    &--each {
        display: flex;
        flex-direction: column;
    }

    &--logo {
        width: 70%;
        margin: 20px 20px 20px 20px;
    }

    &__items {
        font-weight: 300;
        font-size: 14px;
        height: 50px;
        width: 100%;
        // margin-bottom: 15px;
        padding: 0 20px;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 7px;

        
        &:hover {
            background-color: rgba(166, 166, 166, 0.2);
        }

        &--imgcontainer {
            width: 20%;
            display: flex;
            justify-content: center;
        }

        &--txtcontainer {
            width: 70%;
        }
    
    }
}

.menu-bottom {

    border-top: 2px solid #343647;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    justify-content: space-between;
    height: 50%;

    &--logo {
        width: 70%;
        margin: 20px 0 10px 0;
    }

    &__items {
        font-weight: 300;
        font-size: 14px;
        height: 30px;
        width: 100%;
        margin-top: 15px;
        padding-left: 20px;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 7px;

        &--imgcontainer {
            width: 20%;
            display: flex;
            justify-content: center;
        }

        &--txtcontainer {
            width: 70%;
        }
    
    }
}